.collection-preview {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;

  .title {
    background-color: rgba(32, 149, 245, 0.788);
    font-size: 28px;
    margin-bottom: 25px;
    padding-top: 5px;
    padding-left: 10px;
  }

  .preview {
    display: flex;
    justify-content: space-between;
  }
}