.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;

  .logo-container {
   
    height: 100%;
    width: 100px;
    padding: 20px;
    
  }
  

  .options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .option {
      font-weight: bold;
      background-color: rgba(32, 149, 245, 0.788);
      padding: 10px 20px;
      margin-right: 5px;
      cursor: pointer;
    }
  }
}
